.hostModalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .hostModalContainer {
    width: 500px;
    height: 580px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
  }
  
  .hostTitle {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #fd6258;
  }

 .cancelBtnHost {
    position: absolute;
    top: 39rem;
    left: 3rem;
    background-color: #fd6258;
  color: #fefbef;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-top: 1.5rem;
  width: 8rem;
  height: 2rem;
  border-radius: 5px;
 }
 
 .cancelBtnHost:hover {
   color: #fff;
   background-color: #fd6258;
 }

 .continueBtnHost {
    position: absolute;
    top: 39rem;
    left: 12rem;
    background-color: #fd6258;
    color: #fefbef;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 1;
    margin-top: 1.5rem;
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
 }

 .continueBtnHost:hover {
   color: #fff;
   background-color: #fd6258;
 }

 .hostSignupForm {
    padding: 1.5rem;
    padding-bottom: 1.5rem;
 }


 @media screen and (min-width: 500px) {
   .continueBtnHost {
     left: 18rem;
   }

   .cancelBtnHost {
     left: 8rem;
   }
 }

 @media screen and (min-width: 600px) {
  .continueBtnHost {
    left: 22rem;
  }

  .cancelBtnHost {
    left: 12rem;
  }
}

@media screen and (min-width: 650px) {
  .continueBtnHost {
    left: 19rem;
  }

  .cancelBtnHost {
    left: 8rem;
  }
}

@media screen and (min-width: 700px) {
  .continueBtnHost {
    left: 28rem;
  }

  .cancelBtnHost {
    left: 18rem;
  }
}
  

  
  