.carouselReservation {
  border-radius: 10px;
  width: auto;
  height: 100%;
}
.imgReservation {
  height: 400px;
}
.btnReservation {
  background-color: #fd6258;
  color: #fff;
  width: 6rem;
  padding: 0.5rem;
}
.backButton {
  color: #fd6258;
  position: relative;
  right: 175px;
  top: 75px;
  font-size: 50px;
  z-index: 10;
}
.mapPin {
  color: #fd6258;
  font-size: 50px;
  z-index: 10;
}
