.coralBack {
    background-color: #fd6258;
    height: 15rem;
    position: relative;
}

.greyBack{
    background-color:#33475b;
    height: 20rem;
    margin-top: 2rem;
    position: relative;
}

.backgroundImage {
    position: absolute;
    top: 8rem;
    right: 2rem;
    z-index: 10;
    height: 20rem;
}