.button {
  background-color: #fd6258;
  color: #fefbef;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-top: 1.5rem;
  width: 10rem; /* Large, mobile-friendly touch target */
}
.button:hover {
  background-color: #fff;
  color: #fd6258;
}

.signIn-Link {
  color: #fd6258;
  background-color: #fff;
  border: 1px solid #fd6258;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-top: 1.5rem;
  width: 10rem; /* Large, mobile-friendly touch target */
}
.signIn-Link:hover {
  color: #fff;
  background-color: #fd6258;
}

.exploreBtn {
  font-size: 2rem;
  width: 20rem;
}
