.hostMedia {
    position: relative;
    margin-left: auto;
    margin-right: auto; 
    width: 500px  
}

.backgroundImageHostLogin {
background: no-repeat center center fixed;
}

.hostOverlayText {
    position: absolute;
    top: 2rem;
    left: 8rem;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.hostLoginForm {
    position: absolute;
    bottom: 8rem;
    left: 6.5rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: underline;
    padding-bottom: 7rem;
}

.hostLinkToSignup {
    font-size: 1.5rem;
    position: absolute;
    color: #fff;
    bottom: 5rem;
    left: 5rem;
    text-align: center;
}

.hostPageLink {
    color: #fd6258
}

.hostLoginButton {
    color: #fff;
    background-color: #fd6258;
    border: 2px solid #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 1;
    margin-top: 1.5rem;
    width: 10rem;
    border-radius: 5px;
}

.hostLoginButton:hover {
background: #fff;
color: #fd6258;
border: 1px solid #eee;
border-radius: 20px;
box-shadow: 2px 2px 2px rgb(2, 2, 2);
text-shadow: none;
}

.hostErrorText {
    position: absolute;
    font-size: 1rem;
    margin-top: .5rem;
    color: black;

}