.hostMedia {
    position: relative;
    margin-left: auto;
    margin-right: auto; 
    width: 500px  
}

.backgroundImageHostLogin {
background: no-repeat center center fixed;
}

.hostMedia .hostOverlayText {
    position: absolute;
    top: 2rem;
    right: center   ;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    color: white;
}

.hostLoginForm {
    position: absolute;
    bottom: 8rem;
    right: 200px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: underline;
}

.hostLoginButton {
background: #0089f9;
color: #fff;
border: 1px solid #eee;
border-radius: 20px;
box-shadow: 5px 5px 5px #eee;
text-shadow: none;
margin-top: 1rem;
}

.hostLoginButton:hover {
background: #75ccfe;
color: #fff;
border: 1px solid #eee;
border-radius: 20px;
box-shadow: 2px 2px 2px rgb(2, 2, 2);
text-shadow: none;
}